/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
    font-size: 16px;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #281A19;
    user-select: none;
}

.main-container {
    background-color: #E2EBF4;
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
    overflow: hidden;
}
.logo {
    width: 250px;
}
.logo-container {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 8;
    display: flex;
}
.wave-front-container {
    position: absolute;
    bottom: 0;
    z-index: 2;
    left: -100vw;
    animation: moveright 0.5s forwards;
    animation-delay: 1.2s;
}
.wave-back-container {
    position: absolute;
    bottom: 0;
    z-index: 1;
    right: -100vw;
    animation: moveleft 0.5s forwards;
    animation-delay: 0.7s;
}
@keyframes moveleft {
    100% { right: 0;}
}
@keyframes moveright {
    100% { left: 0;}
}
.wave {
    width: 100vw;
}
.clouds {
    z-index: 1;
    width: 100vw;
    position: absolute;
    /* top: -30px; */
    top: -300px;
    animation: dropdown 0.5s forwards;
    animation-delay: 0.2s;
}
@keyframes dropdown {
    100% {top: -30px;}
}
.sun {
    position: absolute;
    right: -700px;
    top: -700px;
    height: 700px;
    width: 700px;
    background-color: #f8d78a;
    border-radius: 50%;
    z-index: 2;
    animation: movesun 0.5s forwards;
    animation-delay: 1.7s;
    display: flex;
    justify-content: flex-start;
}
@keyframes movesun {
    100% {top: -350px; right: -350px;}
}
.scoreboard {
    margin-top: 405px;
    margin-left: 4rem;
    font-weight: 700;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.score-container {
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
    align-items: center;
    justify-content: flex-end;
}
.score-container span {
    font-size: 2.1rem;
}
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gamegrid {
    z-index: 3;
    position: relative;
    display: grid;
    grid-template-columns: 180px 180px 180px 180px;
    grid-template-rows: 180px 180px;
    gap: 2rem;
    align-content: center;
}
.gametile {
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffef9;
    border: 0.4rem solid #DFCCA1;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.2s 0s ease;
}
.gametile:hover {
    transform: scale(1.05);
}
.tile-image {
    width: 150px;
}
.logo-container {
    display: flex;
    align-items: center;
}
.help-button {
    height: 30px;
    width: 30px;
    border: 4px solid #513728;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #513728;
    font-weight: 800;
    margin-left: 1rem;
    cursor: pointer;
}
.modal-container {
    position: absolute;
    top: 0;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    background-color: rgba(155, 155, 155, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal {
    width: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
    border: 0.4rem solid #DFCCA1;
    border-radius: 2rem;
    background-color:#fffcec;
    box-sizing: border-box;
    padding: 20px 20px;
    margin: 0 10px;
}
.modal-title {
    font-size: 1.2rem;
    font-weight: 700;
}
.modal-text {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1rem;
    line-height: 1.2rem;
}
.close-modal {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    height: 20px;
    width: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
}
.hidden {
    display: none;
}
.opened {
    animation: modalopen 0.5s forwards;
}
@keyframes modalopen {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}



@media only screen and (min-width: 1800px) {
    .wave-front-container {
        bottom: -100px;
    }
    .wave-back-container {
        bottom: -100px;
    }
    .clouds {
        top: -500px;
    }
    @keyframes dropdown {
        100% {top: -200px;}
    }
    .gametile {
        width: 250px;
        height: 250px;
    }
    .tile-image {
        width: 200px;
    }
    .gamegrid {
        grid-template-columns: 250px 250px 250px 250px;
        grid-template-rows: 250px 250px;
    }
}
@media only screen and (min-width: 2500px) {
    .wave-front-container {
        bottom: -250px;
    }
    .wave-back-container {
        bottom: -250px;
    }
    .clouds {
        top: -800px;
    }
    @keyframes dropdown {
        100% {top: -300px;}
    }
}
@media only screen and (max-width: 900px) {
    .gamegrid {
        grid-template-columns: 120px 120px;
        grid-template-rows: 120px 120px 120px 120px;
        gap: 3rem;
    }
    .gametile {
        width: 120px;
        height: 120px;
    }
    .tile-image {
        width: 100px;
    }
}
@media only screen and (max-height: 770px) {
    .gamegrid {
        gap: 1.5rem;
        margin-top: 100px;
    }
}
@media only screen and (max-width: 600px) {
    html {
        font-size: 10px;
    }
    .scoreboard {
        margin-top: 250px;
    }
    .logo {
        width: 120px;
    }
    .sun {
        position: absolute;
        right: -450px;
        top: -450px;
        height: 450px;
        width: 450px;
        background-color: #f8d78a;
        border-radius: 50%;
        z-index: 2;
    }
    .help-button {
        height: 20px;
        width: 20px;
        font-size: 16px;
        margin-left: 0;
        margin-top: 0.5rem;
    }
    .logo-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .modal-title {
        font-size: 18px;
        font-weight: 700;
    }
    .modal-text {
        font-size: 14px;
        line-height: 18px;
    }
    @keyframes movesun {
        100% {top: -225px; right: -225px;}
    }
}